/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~https://fonts.googleapis.com/icon?family=Material+Icons';

body {
    margin: 0;
}
h3, p {
    margin: 0px;
    padding: 0px;
}
