h3 {
    padding-top: 20px;
}
p {
    padding-bottom: 20px;
}
md-card {
    width: 420px;
    margin: auto;
    margin-top: 50px;
    height: 450px;
}
form {
    display: flex;
    flex-direction: column;
}
.size {
  width: 100%;
}

@media screen and (max-width: 600px) {
    md-card {
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        padding: 0;
    }
    .size {
        margin: auto;
        width: 80%;
    }
}

@media screen and (min-width: 600px) {
    button {
        width: 33px;
        margin-left:auto; margin-right:0;
    }
}