<md-card>
  <form class="size" (submit)="onRegister()">
    <h3>Sign up</h3>
    <p>by completing fields below</p>

    <md-input-container>
      <input mdInput [(ngModel)]="name" placeholder="Enter your full name" [formControl]="nameFormControl">
      <md-error *ngIf="nameFormControl.hasError('pattern')">
        Invalid name. <strong>Example:</strong> John Doe
      </md-error>
      <md-error *ngIf="nameFormControl.hasError('required')">
        Full name is <strong>required</strong>
      </md-error>
    </md-input-container>

    <md-input-container>
      <input mdInput [(ngModel)]="email" placeholder="Email" [formControl]="emailFormControl">
      <md-error *ngIf="emailFormControl.hasError('pattern')">
        Please enter a valid email address
      </md-error>
      <md-error *ngIf="emailFormControl.hasError('required')">
        Email is <strong>required</strong>
      </md-error>
    </md-input-container>

    <md-input-container>
      <input mdInput [(ngModel)]="username" placeholder="Username" [formControl]="usernameFormControl">
      <md-error *ngIf="usernameFormControl.hasError('pattern')">
        Username must have between 4 and 20 characters.
      </md-error>
      <md-error *ngIf="usernameFormControl.hasError('required')">
        Username is <strong>required</strong>
      </md-error>
    </md-input-container>

    <md-input-container>
      <input mdInput [(ngModel)]="password" type="password" placeholder="Password" [formControl]="passwordFormControl">
      <md-error *ngIf="passwordFormControl.hasError('pattern')">
        Too weak. Lenght at least 8 characters.
      </md-error>
      <md-error *ngIf="passwordFormControl.hasError('required')">
        Password is <strong>required</strong>
      </md-error>
    </md-input-container>

    <button *ngIf="usernameFormControl.status == 'VALID' && passwordFormControl.status == 'VALID' && emailFormControl.status == 'VALID' && nameFormControl.status == 'VALID'" md-raised-button>Sign Up</button>

  </form>
</md-card>