<md-card>
  <form class="size" (submit)="onLogin()">
    <h3>Log in</h3>
    <p>to manipulate links better.</p>

    <md-input-container>
      <input mdInput [(ngModel)]="username" placeholder="Username" [formControl]="usernameFormControl">
      <md-error *ngIf="usernameFormControl.hasError('pattern')">
        Invalid username.
      </md-error>
      <md-error *ngIf="usernameFormControl.hasError('required')">
        Username is <strong>required</strong>
      </md-error>
    </md-input-container>

    <md-input-container>
      <input mdInput [(ngModel)]="password" type="password" placeholder="Password" [formControl]="passwordFormControl">
      <md-error *ngIf="passwordFormControl.hasError('pattern')">
        Invalid password
      </md-error>
      <md-error *ngIf="passwordFormControl.hasError('required')">
        Password is <strong>required</strong>
      </md-error>
    </md-input-container>
    <button *ngIf="(usernameFormControl.status == 'VALID' && passwordFormControl.status == 'VALID'); else create" md-raised-button>Sign In</button>
    <ng-template  #create>
      <a routerLink="/register">Create an account</a>
    </ng-template>
      

  </form>
</md-card>