<md-toolbar color="primary">
  
    <a routerLink="/">
        <span >URL Shortener</span>
    </a>
    <span class="align"></span>
    <md-icon routerLink="/" class="right">home</md-icon>
    <button *ngIf="!api.loggedIn()" md-button routerLink="/login">Log In</button>
    <button *ngIf="api.loggedIn()" md-button (click)="logout()">Log Out</button>
    
</md-toolbar>
